/IvyMobility.App/obj
/IvyMobility.App/bin
/packages
/ShoppingCart.Api/obj
/ShoppingCart.Api/bin
/ShoppingCart.Helper/obj
/ShoppingCart.Helper/bin
/ShoppingCart.Interface/obj
/ShoppingCart.Interface/bin
/ShoppingCart.Model/obj
/ShoppingCart.Model/bin
/ShoppingCart.Provider/obj
/ShoppingCart.Provider/bin
/ShoppingCart.Service/obj
/ShoppingCart.Service/bin
